.education ol {
    padding-left: 0;
    list-style-type: none; 
  }
  

  .education li {
    counter-increment: section; 
    margin-bottom: 15px; 
    background-color: #f9f9f9; 
    padding: 10px; 
    border-radius: 4px; 
    position: relative; 
    padding-left: 20px; 
  }
  
  .education li::before {
    content: counter(section) ". "; 
    position: absolute;
    left: 0; 
    top: 10px; 
    font-weight: bold; 
  }
  