.skills {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.skillsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.skillsTable th, .skillsTable td {
    border: 1px solid #003366;
    padding: 10px;
    text-align: left;
}

.skillsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
